:root{
    --main-orange:#e85e37;
    --bright-orange:#ff8a50;
}

*{
    margin:0;
    padding:0;
   
}

.main-content h1 {
    text-align: center;
}

body,
html {
    padding: 0;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
figcaption {
    font-family: "Poppins", sans-serif;
}

hr {
    border: 0;
    clear: both;
    display: block;
    background-color: #ffffff;
    height: 1px;
}

strong{
    color: var(--main-orange);
}

.hcontainer {
    width: 90%;
    margin: 0 auto;
    padding: 1em;
}

.no-dec a:hover{
text-decoration: none !important;
border-color: transparent !important;
}


/* Alinhar sequencia de icones*/
.image-line {
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    gap: 3rem; /* Adiciona um espaçamento entre as imagens */
    margin-bottom: 2rem;
}
.iframe-require {
    width: 100%;
    height: 500px;
    border: none; /* Removes the border around the iframe */
  }
/* Aumentar tamanho de imagens com hover*/
.scale-transform15 {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Duração da transição e propriedades a serem animadas */
}

.scale-transform15:hover {
    transform: scale(1.5) !important; /* Aumenta o tamanho do card */
}

.scale-transform11 {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Duração da transição e propriedades a serem animadas */
}

.scale-transform11:hover {
    transform: scale(1.1) !important; /* Aumenta o tamanho do card */
}

/* Navbar */
/* navbar */
.navbar-toggler, .navbar-toggler-icon {
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;

}

.navbar-toggler{
    width:100%;
    align-items: center;
}

.navbar-toggler .row{
    margin-left:5%;
    margin-right:5%;
    align-items: center;
    
}

.navbar-toggler-btn{
    border:none;
    background-color: transparent;
}


.navbar {
    background-color: var(--main-orange);
    padding: 1.2rem;
    position: relative;
    height: 5em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona a sombra abaixo do navbar */
    z-index: 1000; /* Aumente o z-index do navbar */
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
}



.nav-left {
    margin-left: 10em;
}

.nav-right {
    margin-right: 10em;
}

.nav-left img {
    height: 40px;
}

.navbar-nav {
    display: flex;
    gap: 2.37em; /* Mantém o gap entre os itens */
}

.navbar-nav .nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    position: relative;
    padding: 1.4em;
    height: 100%;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}

.navbar-nav .nav-link:focus {
    color: #ffffff;
}
/* Selected item navbar */
.navbar-nav .nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #fff;
    transition: width .3s;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-nav .nav-link:hover::before {
    background-color: rgba(0, 0, 0, 0.3);
    padding-right: 10px;
    color: #ffffff;
}

.navbar-nav .nav-link.selected::after {
    width: calc(100% - 20px); /* Ajusta a largura da barra considerando as margens */
}

.navbar-nav .nav-link.selected::before {
    background-color: rgba(0, 0, 0, 0.2);
}




.navbar-nav .nav-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1em; /* Ajusta para cobrir metade do gap */
    right: -1em; /* Ajusta para cobrir metade do gap */
    bottom: 0;
    background-color: transparent;
    transition: background-color 0.3s ease;
    z-index: -1;
    
}
.navbar-nav .nav-link:hover {
    color: #ffffff;
}

.navbar-nav .nav-link:hover::before {
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-100%);
        opacity: 0;
    }
}

.navbar-submenu {
    background-color: var(--main-orange);
    width: 100%;
    display: none; /* Inicialmente oculto */
    padding: 0; /* Remove o padding quando oculto */
}

.navbar-submenu.show {
    display: block; /* Torna visível */
    animation: slideDown 0.5s ease forwards;
    padding: 1em;
}

.navbar-submenu.hide {
    animation: slideUp 0.5s ease forwards;
    display: block; /* Necessário para a animação */
    padding: 1em;
}


.navbar-submenu .navbar-item {
    height: 3em;
    color: white;
    display: flex;
    align-items: center;
    padding:20px;
    

}

.navbar-submenu .navbar-item:hover {
    padding:20px;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer; /* Muda o cursor para um ícone de mão */
}

.navbar-submenu a{
    text-decoration: none;
}

@media (max-width: 1200px) {
    .language-flag {
        display: none;
    }
}


/* trocar lingua */

.language-selector {
    position: relative;
    display: inline-block;
}

#language-button {
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    gap: 8px;
    min-width:120px;

}

#language-button:hover {
    background-color: #ffffff20;
}

.language-menu {
    display: none;
    position: absolute;
    background-color: var(--bright-orange);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    z-index: 1;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 150px;
    animation: slideDown 0.3s forwards;
}

.language-menu a {
    text-decoration: none;
    color: #fff;
}

.language-menu li {
    padding: 10px;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 8px;
}

.language-menu li:hover {
    background-color: #00000025;
}



@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUp {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}

#arrow {
    display: inline-block;
    transition: transform 0.3s ease;
    transform-origin: center;
}

#arrow.up {
    transform: scaleY(-1);
}

#arrow.down {
    transform: scaleY(1);
}

/* Hero Section */

.hero {
    background: url('../images/hero-bg.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000000;
}

.hero .hero-content {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(255, 191, 0, 0.5); /* Sombra do texto */
}

.hero .hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero .hero-content p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.hero .hero-content .btn {
    background-color: var(--main-orange);
    color: #fff;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 20px;
    font-size: 1rem;
    margin-bottom: 2rem;
}

/* Cards */
.cards-section {
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin: 1rem 0;
    padding: 2rem;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    width: 350px;
    height: 525px; /* Altura fixa para os cards */
    display: flex;
    flex-direction: column;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Adiciona transição suave */
}

.card:hover {
    transform: scale(1.05)!important; /* Aumenta o tamanho do card, important pra nao ser inferferido pelas classe de fade */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4); /* Aumenta a sombra do card */
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-content hr{
        border: 0;
        clear: both;
        display: block;
        width: 20rem;
        background-color:rgba(0, 0, 0, 0.4);
        height: 1px;
}

.card-content h2 {
    font-size: 1.5rem;
    margin-bottom: 0rem;
    text-align: center;
}

.card-content h3 {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    color: #555;
    text-align: center;
}

.card-content p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 1rem;
    flex: 1;
    text-align: justify;
}

.card-content .btn {
    color: #fff;
    padding: 1rem 1rem;
    text-decoration: none;
    text-align: center;
    border-radius: 20px;
    font-size: 1rem;
    margin-top: auto; /* Alinha o botão na parte inferior do card */
    transition: transform 0.3s ease; /* Adiciona transição suave */
}

.card-content .btn:hover {
    transform: scale(1.05); /* Aumenta o tamanho do botão */
}

/* Footer */
.footer {
    background-color: var(--main-orange);
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: auto;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.2); /* Added box-shadow above the footer */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.footer-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer-top p {
    margin: 0;
}

.footer-top hr {
    width: 100%;
    margin: 1rem 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    gap: 2rem; /* Add space between columns */
}

.footer-left, .footer-right {
    text-align: left;
    flex: 1;
}

.footer-center {
    text-align: center;
    flex: 1;
}

.footer-left h3, .footer-center h3, .footer-right h3 {
    margin-bottom: 1rem;
}

.footer-left ul, .footer-center ul, .footer-right ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.footer-left ul li, .footer-center ul li, .footer-right ul li {
    margin-bottom: 0.5rem;
}

.footer-left ul li a, .footer-right ul li a {
    color: #fff;
    text-decoration: none;
    position: relative;
    padding-bottom: 5px;
}

.footer-left ul li a::after, .footer-right ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transition: width 0.3s ease-out;
}

.footer-left ul li a:hover::after, .footer-right ul li a:hover::after {
    width: 100%;
}

.footer-center ul li img {
    width: 150px;
    height: auto;
}

.footer p {
    margin-top: 2rem;
    width: 100%;
    text-align: center;
}

/* Fade Elements */
.fade-up {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-up.visible {
    opacity: 1;
    transform: translateY(0);
}

.fade-down {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-down.hidden {
    opacity: 0;
    transform: translateY(20px);
}


/* Paginas de Conteudo */

.content-container {
    display: flex;
    margin: 0px auto;
    padding: 1rem;
    background-color: #ffffffdf;
    border-radius: 8px;
    text-align: center;
    margin-left: 10em;
    margin-right: 10em;
}

.content-section hr{
    width:100%;
    background-color:rgba(0, 0, 0, 0.4);
    margin: -10px 0 20px; 
    border: 0;
    border-top: 2px solid #ccc;
}

.content-section a{
text-align: left;
}

.content-container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}


.content-container p {
    font-size: 1.5rem;
    margin-bottom: 30px;
    color: #555;
    text-align: justify;
}

.content-container a {
    color: var(--main-orange);
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-color 0.3s;
}

.content-container a:hover {
    border-color: var(--main-orange);
}






/* Carrosel de imagens deslizantes */
.carousel_no_bootstrap {
    position: relative;
    width: 100%;
    
    margin: 20px auto;
    overflow: hidden;
    cursor: pointer; /* Muda o cursor para a aparência de clicável */
}


.carousel_no_bootstrap-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel_no_bootstrap-slide {
    position: relative;
    min-width: 100%;
    height: auto;
}

.carousel_no_bootstrap-image {
    width: 100% !important;
    height: auto;
    border: rgba(0, 0, 0, 0.439) solid 1px;
}

.carousel_no_bootstrap-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.carousel_no_bootstrap-button.visible {
    opacity: 1;
}

.carousel_no_bootstrap-button.prev {
    left: 10px;
}

.carousel_no_bootstrap-button.next {
    right: 10px;
}

/* carousel_no_bootstrap Info */
.carousel_no_bootstrap-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: left;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 1;
}

.carousel_no_bootstrap-info-icon {
    width: 10% !important;
    height: auto;
    border: 5px solid #fff;
    margin: 0;
    float: left; /* Alinha a imagem à esquerda */
    position: relative; /* Garante que a imagem sobreponha outros estilos */
    z-index: 10; /* Define um valor alto para garantir que a imagem fique acima de outros elementos */
    width: 70%;
    display: block;
    margin-left: 0px !important;
    margin-right:0 !important;
}

.carousel_no_bootstrap-info.visible {
    opacity: 1;
    transform: translateY(0);
}

.carousel_no_bootstrap-info-text {
    margin-left: 10px;
    font-size: 1.2rem;
   
    background-color: rgba(0, 0, 0, 0); /* Fundo transparente para o texto */
    color: #fff; /* Cor do texto */
}

/* Lista de Contatos */
.contact-list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.contact-list li {
    margin: 10px 0;
}

.contact-list li a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.contact-list li a:hover {
    color: var(--main-orange);
    text-decoration: none;
}

.contact-list li a i {
    margin-right: 10px;
    font-size: 1.5rem;
}

/* Remover a linha abaixo do texto nos contatos */
figcaption {
    text-align: center;
    margin:0;
}

figure{
    margin:0;
}

/* Outer Container */
.outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 0px;
}
.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;

}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hcontainer {
    width: 70%;
    margin: 0 auto;
    padding: 1em;
}



@media (max-width: 1700px) {
    .hcontainer {
        width: 80%;
    }
}
@media (max-width: 1500px) {
    .hcontainer {
        width: 90%;
    }
}

@media (max-width: 1400px) {
    .hcontainer {
        width: 95%;
    }
}

@media (max-width: 1200px) {
    .language-flag {
        display: none;
    }
    .main-content p {
        font-size: 18px !important;
        text-align: justify;
    }
}

@media (max-width: 800px) {
    
    .hcontainer {
        width: 95%;
    }
}

.main-content {
    flex: 1;
    width: 100%;
}

.main-content p {
    font-size: 20px;
    text-align: justify;
}

.main-content h1 {
    text-align: center;
}

.main-content img {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main-content a {
    color: var(--main-color);
}